body {
	text-align: center;
	font-size: 24px;
	color: #320A28;
	background-color: yellow;
	font-family: 'Marck Script', cursive;
}

h1 {

	font-family: 'Dancing Script', cursive;
	color: #320A28;
	font-weight: 900;
	font-size: 24px;
	background-color: yellow;
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	color: red;
	font-weight: 400;
	font-size: 24px;
	background-color: yellow;
	text-align: center;
}

.imagecircle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}